CONFIG_ARCH_IMX=y
CONFIG_MACH_BASIS=y
CONFIG_TEXT_BASE=0xa3f00000
CONFIG_BAREBOX_MAX_IMAGE_SIZE=0x80000
CONFIG_ARCH_IMX_IMXIMAGE=y
CONFIG_ARCH_IMX_EXTERNAL_BOOT_NAND=y
CONFIG_ARM_OPTIMZED_STRING_FUNCTIONS=y
CONFIG_MMU=y
CONFIG_HAVE_CONFIGURABLE_TEXT_BASE=y
CONFIG_STACK_SIZE=0x10000
CONFIG_MALLOC_SIZE=0x800000
CONFIG_MALLOC_TLSF=y
CONFIG_KALLSYMS=y
CONFIG_LONGHELP=y
CONFIG_GLOB=y
CONFIG_PROMPT_HUSH_PS2="> "
CONFIG_CMDLINE_EDITING=y
CONFIG_AUTO_COMPLETE=y
CONFIG_MENU=y
CONFIG_MENUTREE=y
CONFIG_PASSWORD=y
CONFIG_PASSWORD_DEFAULT=""
CONFIG_PASSWD_SUM_SHA1=y
CONFIG_DYNAMIC_CRC_TABLE=y
CONFIG_ERRNO_MESSAGES=y
CONFIG_TIMESTAMP=y

CONFIG_BOOTM=y
CONFIG_BOOTM_INITRD=y

CONFIG_CONSOLE_FULL=y
CONFIG_CONSOLE_ACTIVATE_ALL=y
CONFIG_PARTITION=y
CONFIG_DEFAULT_ENVIRONMENT=y
CONFIG_DEFAULT_COMPRESSION_GZIP=y
CONFIG_HAVE_DEFAULT_ENVIRONMENT_NEW=y
CONFIG_DEFAULT_ENVIRONMENT_PATH="lib/westermo/env arch/arm/boards/basis/env"
CONFIG_POLLER=y

CONFIG_COMPILE_LOGLEVEL=6
CONFIG_DEFAULT_LOGLEVEL=2
# CONFIG_DEBUG_INFO is not set
CONFIG_DEBUG_IMX_UART_PORT=1
# CONFIG_HAS_DEBUG_LL is not set

CONFIG_COMMAND_SUPPORT=y
CONFIG_CMD_ARM_CPUINFO=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_EDIT=y
CONFIG_CMD_SLEEP=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_LOADENV=y
CONFIG_CMD_EXPORT=y
CONFIG_CMD_PRINTENV=y
CONFIG_CMD_READLINE=y
CONFIG_CMD_READF=y
CONFIG_CMD_TRUE=y
CONFIG_CMD_FALSE=y
CONFIG_CMD_MENUTREE=y
CONFIG_CMD_LOGIN=y
CONFIG_CMD_PASSWD=y
CONFIG_CMD_GLOBAL=y
CONFIG_CMD_DIRNAME=y
CONFIG_CMD_READLINK=y
CONFIG_CMD_FILETYPE=y
CONFIG_CMD_ECHO_E=y
CONFIG_CMD_INPUT=y
CONFIG_CMD_FLASH=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_BOOTM_INITRD=y
CONFIG_CMD_BOOTM_OFTREE=y
CONFIG_FLEXIBLE_BOOTARGS=y
CONFIG_CMD_BOOT=y
CONFIG_CMD_RESET=y
CONFIG_CMD_GO=y
CONFIG_CMD_OFTREE=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_TIMEOUT=y
CONFIG_CMD_PARTITION=y
CONFIG_CMD_TEST=y
CONFIG_CMD_HELP=y
CONFIG_CMD_DEVINFO=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_UNCOMPRESS=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MIITOOL=y
CONFIG_CMD_MDIO=y
CONFIG_CMD_RMON=y
CONFIG_CMD_MVCFG=y
CONFIG_CMD_WD=y
CONFIG_CMD_WD_DEFAULT_TIMOUT=0

CONFIG_NET=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_NETCONSOLE=y
CONFIG_CMD_TFTP=y
CONFIG_NET_RESOLV=y
CONFIG_NET_CMD_IFUP=y

CONFIG_OFTREE=y
CONFIG_OFTREE_MEM_GENERIC=y
CONFIG_DTC=y
CONFIG_OF_NET=y

CONFIG_DRIVER_SERIAL_IMX=y
CONFIG_ARCH_HAS_FEC_IMX=y
CONFIG_PHYLIB=y

CONFIG_DRIVER_NET_FEC_IMX=y
CONFIG_MV88E6XXX_PHY=y
CONFIG_MDIO_SMI=y

CONFIG_I2C=y
CONFIG_I2C_IMX=y
CONFIG_MTD=y
CONFIG_MTD_WRITE=y

CONFIG_DRIVER_CFI=y
CONFIG_DRIVER_CFI_INTEL=y
CONFIG_DRIVER_CFI_AMD=y
CONFIG_DRIVER_CFI_BANK_WIDTH_2=y
CONFIG_CFI_BUFFER_WRITE=y
CONFIG_USB_HAVE_GADGET_DRIVER=y

CONFIG_HAVE_CLK=y
CONFIG_CLKDEV_LOOKUP=y
CONFIG_COMMON_CLK=y

CONFIG_EEPROM_AT24=y

CONFIG_WATCHDOG_IMX_RESET_SOURCE=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_IMX=y

CONFIG_GPIOLIB=y
CONFIG_GPIO_IMX=y
CONFIG_PINCTRL_IMX_IOMUX_V1=y

CONFIG_FS=y
CONFIG_FS_CRAMFS=y
CONFIG_FS_RAMFS=y
CONFIG_FS_DEVFS=y
CONFIG_FS_TFTP=y
# CONFIG_FS_NFS is not set
# CONFIG_FS_FAT is not set
# CONFIG_FS_BPKFS is not set
# CONFIG_FS_UIMAGEFS is not set
CONFIG_FS_FDT=y
# CONFIG_FS_PSTORE is not set
CONFIG_FS_SQUASHFS=y
CONFIG_SQUASHFS_ZLIB=y

#
# LZ4 support disabled
#
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y

CONFIG_PARAMETER=y
CONFIG_UNCOMPRESS=y
CONFIG_ZLIB=y
CONFIG_XZ_DECOMPRESS=y
CONFIG_PROCESS_ESCAPE_SEQUENCE=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_QSORT=y
CONFIG_FIT_IMAGE=y
CONFIG_LIBFDT=y

CONFIG_LIBWESTERMO=y
CONFIG_WMO_IDMEM="/dev/eeprom0"
CONFIG_CRC32=y
CONFIG_DIGEST=y
CONFIG_MD5=y
CONFIG_SHA1=y

