;bdiGDB configuration file for P1020RDB
;--------------------------------------
;
; The values used to configure the memory controller
; are the ones U-boot uses to setup my system.
; Your system may need different ones !!!
;
; This configuration is not usable for U-boot debugging.
; Use it to debug example code loaded into SDRAM.
;
;
[INIT]
;
; load TLB entries, helper code @ 0xfffff000
;WM32 0xfffff000 0x7c0007a4 ;tlbwe
;WM32 0xfffff004 0x7c0004ac ;msync
;WM32 0xfffff008 0x48000000 ;loop
;WSPR    628             0x00000000      ;MAS4:
;WSPR    630             0x00000000      ;MAS7:
;

; 256 MB  TLB1 #2 0xe0000000 - 0xefffffff
;WSPR    624             0x10020000      ;MAS0:
;WSPR    625             0x80000900      ;MAS1:
;WSPR    626             0xe000000a      ;MAS2:
;WSPR    627             0xe0000015      ;MAS3:
;EXEC    0xfffff000

;WSPR 624 0x10030000 ;MAS0: TLB1, Index 3
;WSPR 625 0x80000800 ;MAS1: valid, 64 Mbyte
;WSPR 626 0x00000008 ;MAS2: 0x00000000, I
;WSPR 627 0x0000003f ;MAS3: 0x00000000, UX,SX,UW,SW,UR,SR
;EXEC 0xfffff000
;
;

; load and execute some boot code
;WM32    0xfffffffc      0x48000000      ;loop
;EXEC    0xfffffffc

; Setup debug vector for program execution
;WSPR    63              0x00000000      ;IVPR   : Exceptions at 0x00000000
;WSPR    406             0x0000700       ;IVOR6  : Program exception
;WSPR    415             0x0001500       ;IVOR15 : Debug exception
;WM32    0x00000700      0x48000000      ;write valid instruction
;WM32    0x00001500      0x48000000      ;write valid instruction

[TARGET]
CPUTYPE     P1020       ;the CPU type
;JTAGCLOCK   0           ;BDI2000: use 16 MHz JTAG clock
JTAGCLOCK   1           ;BDI3000: use 16 MHz JTAG clock
;STARTUP     RUN RUN     ;halt core #0 at boot vector
STARTUP     LOOP LOOP ;HALT HALT        ;halt core #0 at boot vector
BREAKMODE   HARD        ;SOFT or HARD, HARD uses PPC hardware breakpoint
STEPMODE    HWBP        ;JTAG or HWBP, HWPB uses a hardware breakpoint
;WAKEUP      1000        ;give reset time to complete
POWERUP     500        ;start delay after power-up detected in ms
RESET       HARD 100
;RESET       NONE
; Core#0 parameters (active core after reset)
;#0 CPUTYPE P1020 0 0 ;Core0 / SOC0
;#0 STARTUP STOP 5000 ;let U-boot setup the system
;#0 MEMACCESS CORE
;#0 CGROUP 0x0f ;GDB continue core group (resume)
;
; Core#1 parameters
;#1 CPUTYPE P1020 1 0 ;Core1 / SOC0
;#1 STARTUP RUN ;let core run
;#1 MEMACCESS CORE
;#1 CGROUP 0x02 ;GDB continue core group (prepare)

[HOST]
IP          198.18.254.1
FILE        wmo/barebox/barebox.bin
FORMAT      BIN 0x00100000
PROMPT      P1020> 
;#0 PROMPT      P1020-0> 
;#1 PROMPT      P1020-1> 

[FLASH]
CHIPTYPE    STRATAX16           ;AP30-TF-strata flash
CHIPSIZE    0x8000000           ;Chipsize is 128MB
BUSWIDTH    16
WORKSPACE   0x00010000 	        ;workspace in DDR SDRAM
FILE        wmo/barebox/barebox.bin
FORMAT      BIN 0xeff80000
ERASE       0xeff80000 0x8000 16   ;erase  16 sectors


[REGS]
FILE        $regP1020.def


