;bdiGDB configuration file for T1040-QDS
;---------------------------------------
;
[INIT]
;
; Setup TLB1 for core#0
;          MAS1       MAS2       MAS0/MAS7     MAS3
; CCSR
WTLB    0x80000700_0xfe00000a   0x10010000_0xfe00003f   ;1/1: fe000000->0_fe000000  16MB -I-G- RWXRWX
; NOR
WTLB    0x80000800_0xe800000a   0x10020000_0xe800003f   ;1/2: e8000000->0_e8000000  64MB -I-G- RWXRWX
WTLB    0x80000800_0xec00000a   0x10030000_0xec00003f   ;1/3: ec000000->0_ec000000  64MB -I-G- RWXRWX
; DDR
WTLB    0x80000900_0x00000000   0x10040000_0x0000003f   ;1/4: 00000000->0_00000000 256MB ----- RWXRWX
WTLB    0x80000900_0x10000000   0x10050000_0x1000003f   ;1/5: 10000000->0_10000000 256MB ----- RWXRWX
; Faked "SRAM" in DDR
WTLB    0x80000400_0xffd00000   0x10060000_0x1000003f   ;1/6: ffd00000->0_10000000 256kB ----- RWXRWX
; DPAA
WTLB    0x80000700_0xf4000000   0x10070000_0xf400003f   ;1/7: f4000000->0_10000000  16MB ----- RWXRWX
WTLB    0x80000700_0xf5000000   0x10080000_0xf500003f   ;1/8: f5000000->0_10000000  16MB ----- RWXRWX
;
WTLB    0x80000700_0xf6000000   0x10090000_0xf600003f   ;1/9: f6000000->0_10000000  16MB ----- RWXRWX
WTLB    0x80000700_0xf7000000   0x100a0000_0xf700003f   ;1/a: f7000000->0_10000000  16MB ----- RWXRWX
;
; Initialize LAWBARs
;
; NOR
WREG    lawbarh0        0x00000000      ;Flash @0_e8000000
WREG    lawbarl0        0xe8000000
WREG    lawar0          0x81f0001b      ;IFC 128MB
;
; SRAM
WREG    lawbarh1        0x00000000      ;CPC/SRAM @0_ffd00000
WREG    lawbarl1        0xffd00000
WREG    lawar1          0x81000011      ;DDR/CPC 256kB
;
; DDR
WREG    lawbarh2        0x00000000      ;SDRAM @0_00000000
WREG    lawbarl2        0x00000000
WREG    lawar2          0x8100001c      ;DDR/CPC 512MB
;
; DPAA
WREG    lawbarh3        0x00000000      ;BMAN @0_f4000000
WREG    lawbarl3        0xf4000000
WREG    lawar3          0x81800018      ;BMAN 32MB
;
WREG    lawbarh4        0x00000000      ;QMAN @0_f6000000
WREG    lawbarl4        0xf6000000
WREG    lawar4          0x83c00018      ;QMAN 32MB
;
; Integrated Flash Controller (IFC)
WREG    ifc_cspr0_ext   0x00000000      ;Map 128 MByte of NOR Flash to 0xe8000000
WREG    ifc_cspr0       0xe8000111
WREG    ifc_amask0      0xf8000000
;
; Use L3 cache (CPC1) as SRAM at 0x80000000
;WREG    cpc_srcr1       0x00000000      ;high address
;WREG    cpc_srcr0       0x80000007      ;all 8 ways as SRAM
;WREG    cpc_csr0        0x80000000      ;CPC enable
;WREG    cpc_hdbcr0      0x08000000      ;Speculation disable
;
; DDR Controller
WREG	ddr_cs0_bnds	0x0000001f
WREG	ddr_cs1_bnds	0x00000000
WREG	ddr_cs0_cfg	0x80014202
WREG	ddr_cs1_cfg	0x00000000
WREG	ddr_tim_cfg_3	0x01061000
WREG	ddr_tim_cfg_0	0x4044000C
WREG	ddr_tim_cfg_1	0x98903A45
WREG	ddr_tim_cfg_2	0x0038B118
WREG	ddr_tim_cfg_4	0x00000001
WREG	ddr_tim_cfg_5	0x03401400
WREG	ddr_ram_cfg_2	0x00401010 
WREG	ddr_ram_mode	0x00061A50
WREG	ddr_ram_mode_2	0x00100000
WREG	ddr_ram_mode_3	0x00000000
WREG	ddr_ram_mode_4	0x00000000
WREG	ddr_ram_mode_5	0x00000000
WREG	ddr_ram_mode_6	0x00000000
WREG	ddr_ram_mode_7	0x00000000
WREG	ddr_ram_mode_8	0x00000000

;WREG	ddr_interval	0x144E0513
WREG	ddr_interval	0x0A270289
WREG    ddr_clk_ctl     0x02800000
WREG	ddr_md_cntl	0x00000000
WREG	ddr_zq_ctl	0x89080600
WREG	ddr_wrlvl_ctl	0x8655F609
WREG	ddr_wrlvl_ctl2	0x00
WREG	ddr_wrlvl_ctl3	0x00
WREG	ddr_cdr_1	0x80040000
WREG	ddr_cdr_2	0x01
WREG    ddr_data_init   0xDEADBEEF
WREG    ddr_err_sbe     0x00010000
WREG    ddr_err_int_en  0x1D
WREG	ddr_ram_cfg	0x672C8004

DELAY 20
WREG	ddr_ram_cfg	0xe72c8004
DELAY 1000
;
; Release cores for booting
WREG    brr             0x00000001      ;BRR: release cores
;
; Enable Time Base
WREG	pctbenr		0x00000001
;
; define the valid memory map (GDB may access invalid memory)
#0 MMAP 0x00000000      0x1fffffff      ;DDR 512MByte
#0 MMAP 0xe8000000      0xefffffff      ;NOR 128MByte
#0 MMAP 0x80000000      0x8003ffff      ;CPC1/SRAM 256kByte
#0 MMAP 0xfe000000      0xfeffffff      ;Memory map for Internal Register
#0 MMAP 0xff000000      0xffffffff      ;Boot space
#0 MMAP 0xf4000000      0xf7ffffff      ;BMAN/QMAN 64MByte
;
;#1 MMAP 0x00000000      0x1fffffff      ;DDR 512MByte
;#1 MMAP 0xe8000000      0xefffffff      ;NOR 128MByte
;#1 MMAP 0x80000000      0x8003ffff      ;CPC1/SRAM 256kByte
;#1 MMAP 0xfe000000      0xfeffffff      ;Memory map for Internal Register
;#1 MMAP 0xff000000      0xffffffff      ;Boot space
;
; setup device trigger, debug halt always all cores
WREG    cgcr0           0x00000003      ;CGCR0: Core Group 0 (0,1)
WREG    cgcr1           0x00000003      ;CGCR1: Core Group 1 (0,1)
WREG    cgcr2           0x00000003      ;CGCR2: Core Group 2 (0,1)
WREG    csttacr0        0x00000801      ;CSTTACR0: trigger if a core from group 1 enter debug halt
;
WREG    cgacrd4         0x00000022      ;CGACRD4 : if device event, halt cores in group 2
;
;WREG    epsmcr13        0x0C000000      ;EPSMCR13[ISEL0] = 12 (RCPM Concerntrator 0 Event)
;WREG    epecr13         0x80000000      ;EPECR13[IC0]    = 2  (Input 0 is sufficient)
;WREG    cgacre13        0x00000022      ;CGACRE13: if EPU event, halt cores in group 2

[TARGET]
; common parameters
POWERUP     5000                ;start delay after power-up detected in ms
JTAGCLOCK   16000000            ;16 MHz JTAG clock
RESET       HARD  1000          ;assert reset for 1 seconds
WAKEUP      500                 ;give reset time to complete
;
; Core#0 parameters (active core after reset)
#0 CPUTYPE      T1040 0 0       ;Core0 / SOC0
#0 STARTUP      HALT            ;halt at the reset vector (this halts all cores !!!)
#0 BREAKMODE    HARD            ;SOFT or HARD, HARD uses PPC hardware breakpoint
#0 STEPMODE     HWBP            ;ICMP or HWBP, HWBP uses a hardware breakpoint
#0 MEMACCESS    CORE
#0 CGROUP       0x0f            ;GDB continue core group (resume)
;
; CoreID#1 parameters
#1 CPUTYPE      T1040 1 0       ;Core#1 / SOC#0
#1 STARTUP      HALT            ;halt at the reset vector
#1 BREAKMODE    HARD            ;SOFT or HARD, HARD uses PPC hardware breakpoint
#1 STEPMODE     HWBP            ;ICMP or HWBP, HWBP uses a hardware breakpoint
#1 MEMACCESS    CORE
#1 CGROUP       0x02            ;GDB continue core group (prepare)
;


[HOST]
FILE            coronet.bin
FORMAT          BIN 0x80000000
;
#0 PROMPT       CORONET#0>
#1 PROMPT       CORONET#1>


[FLASH]
;WORKSPACE   0x00000000          ;workspace in DDR
;CHIPTYPE    MIRRORX16           ;Flash type is S29GL01GS
CHIPTYPE    STRATAX16            ;Flash type is S29GL01GS
CHIPSIZE    0x08000000          ;visible size of one flash chip in bytes
BUSWIDTH    16                  ;The width of the flash memory bus in bits
FILE        u-boot_mfd.bin
FORMAT      BIN 0xeff40000
ERASE       0xeff40000 0x20000 6

[REGS]
FILE        $regT1040.def


